flows.json
[
    {
        "id": "446d5790f3f7e573",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e5b82b7da0d3e12",
        "type": "mqtt in",
        "z": "446d5790f3f7e573",
        "name": "humidity",
        "topic": "khouloudsyrine/hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f0f3311f91620886",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "947c74dfb0828a32",
                "ccc3a04bc25ac1c6",
                "6c6477c223c4e448"
            ]
        ]
    },
    {
        "id": "947c74dfb0828a32",
        "type": "debug",
        "z": "446d5790f3f7e573",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "b50a2f36d56f3c80",
        "type": "mqtt out",
        "z": "446d5790f3f7e573",
        "name": "pompe",
        "topic": "khouloudsyrine/pompe",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0f3311f91620886",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "36faa2890ce6dd42",
        "type": "ui_switch",
        "z": "446d5790f3f7e573",
        "name": "pompebtn",
        "label": "pump",
        "tooltip": "",
        "group": "2cd8e313c1db2c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "khouloudsyrine/pompe",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "b50a2f36d56f3c80",
                "c341fd6513545ca7",
                "c41dc2ef6b8133bc",
                "addb42b1413f7e69"
            ]
        ]
    },
    {
        "id": "dbe5b2859433a03e",
        "type": "mqtt out",
        "z": "446d5790f3f7e573",
        "name": "mode",
        "topic": "khouloudsyrine/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0f3311f91620886",
        "x": 450,
        "y": 680,
        "wires": []
    },
    {
        "id": "93fab9af501d821f",
        "type": "ui_switch",
        "z": "446d5790f3f7e573",
        "name": "modebtn",
        "label": "automatic mode",
        "tooltip": "",
        "group": "2cd8e313c1db2c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "khouloudsyrine/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "dbe5b2859433a03e",
                "737d8e9d8ac18ff7",
                "3634dc4b64b109d1",
                "3b5f460bfa3f3454"
            ]
        ]
    },
    {
        "id": "c341fd6513545ca7",
        "type": "debug",
        "z": "446d5790f3f7e573",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "737d8e9d8ac18ff7",
        "type": "debug",
        "z": "446d5790f3f7e573",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "ccc3a04bc25ac1c6",
        "type": "ui_gauge",
        "z": "446d5790f3f7e573",
        "name": "humidity_gauge",
        "group": "b78e28769678744d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#f8b354",
            "#00e663",
            "#548de8"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb07971ca8a17619",
        "type": "mqtt in",
        "z": "446d5790f3f7e573",
        "name": "temp",
        "topic": "khouloudsyrine/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f0f3311f91620886",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "498482999ad522a8",
                "b015e5f12ba096de",
                "195b7d7faf91a2fd"
            ]
        ]
    },
    {
        "id": "498482999ad522a8",
        "type": "debug",
        "z": "446d5790f3f7e573",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "b015e5f12ba096de",
        "type": "ui_gauge",
        "z": "446d5790f3f7e573",
        "name": "temp_gauge",
        "group": "2b032919ab3b557e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c6477c223c4e448",
        "type": "ui_chart",
        "z": "446d5790f3f7e573",
        "name": "humidity_chart",
        "group": "b78e28769678744d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3634dc4b64b109d1",
        "type": "ui_toast",
        "z": "446d5790f3f7e573",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "c41dc2ef6b8133bc",
        "type": "ui_toast",
        "z": "446d5790f3f7e573",
        "position": "top right",
        "displayTime": "3",
        "highlight": "pink",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "addb42b1413f7e69",
        "type": "ui_audio",
        "z": "446d5790f3f7e573",
        "name": "",
        "group": "2cd8e313c1db2c09",
        "voice": "Google UK English Female",
        "always": "",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "3b5f460bfa3f3454",
        "type": "ui_audio",
        "z": "446d5790f3f7e573",
        "name": "",
        "group": "2cd8e313c1db2c09",
        "voice": "Google UK English Male",
        "always": "",
        "x": 460,
        "y": 860,
        "wires": []
    },
    {
        "id": "195b7d7faf91a2fd",
        "type": "ui_chart",
        "z": "446d5790f3f7e573",
        "name": "temp_chart",
        "group": "2b032919ab3b557e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f0f3311f91620886",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "node-red_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2cd8e313c1db2c09",
        "type": "ui_group",
        "name": "buttons",
        "tab": "ab539d77b4e5085e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b78e28769678744d",
        "type": "ui_group",
        "name": "humidity",
        "tab": "ab539d77b4e5085e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b032919ab3b557e",
        "type": "ui_group",
        "name": "temperature",
        "tab": "ab539d77b4e5085e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab539d77b4e5085e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]